.back-tick {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: start;
   padding: 10px 0;
}

.back-tick .back {
   width: fit-content;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 5px;
   color: #0a0a0a;
   cursor: pointer;
}