.create-post-add-btn {
   width: 100%;
   height: fit-content;
   position: fixed;
   bottom: 30px;
   left: 0;
   z-index: 6;
   display: flex;
   align-items: center;
   justify-content: center;
}

.create-post-add-btn .pgc-container {
   width: 100%;
   max-width: 1400px;
   padding: 20px;
   display: flex;
   align-items: center;
   justify-content: end;
}

.create-post-add-btn button {
   border-radius: 100%;
}